body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #DCDCDC;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    background-color: #1D2656;
    text-align: left;
    padding-left: 5vw;
    color: #ffff;
    align-items: center;
}

h2{
    color: #00FF85;
    margin-right: 50vw;
    transform: translateX(50%);
}

.all{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10vh 5vw;
}

.fleet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item{
    border: 0.5rem solid #ffff;
    height: 10vh;
    width: 60vw;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

.selected{
    border: 0.5rem solid #000000;
    background-color: #535353;
    height: 70vh;
    width: 25vw;
    margin-bottom: 3vh;
}